Import Pandas

In [20]:
import pandas as pd

Series 
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [21]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

Create Labels

In [26]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
print(myvar["x"])

x    1
y    7
z    2
dtype: int64
1

Key/Value Objects as Series

Note: The keys of the dictionary become the labels.

In [23]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

Data Frames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [24]:
data = {
  "calories": [420, 380, 390,980],
  "duration": [50, 40, 45, 40]
}

# jumlah arraynya harus sama

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45
3       980        40